h1
{
  border-width: 4px;
  border-color: #C0C0C0;
  border-style: double;
  color: black;
  background-color: yellow;
  font-family: Verdana, sans-serif;
}
h2
{
  color: red;
  font-family: Geneva, Calibri, sans-serif;
}
body
{
 color: white;
 background-color: black;
}
p
{
  color: #CCFF66;
  font-family: Geneva, Calibri, sans-serif;
  font-size: 1.5em;
}
a
{
  color: #FF6600;
  font-family: Tahoma, sans-serif;
   font-size: 1.5em;
}
label
{
  color: #CCFF66
  font-size: 1.5em;
}
strong
{
  font-weight: normal;
  color: #FF0000;
}
iframe
{
  border-width: 8px;
  border-color: #C0C0C0;
  border-style: outset;
}
.checked-off {text-decoration:
line-through;}
#commands
{
  font-family: 'Share Tech Mono', monospace;
  color: rgb(255, 255, 255);
}